<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body style="display: flex; flex-direction:column; min-height:100vh">
    {{>header}}
    <div class="container" style="flex-grow: 1;">
    <h1 style="font-size:60px">404 </h1>
    <h3>{{errName}}</h3>
    </div>
    {{>footer}}
</body>

</html>